mode server
tls-server
port 1194
local {{ node_name }}
proto tcp
dev tun
ca ca.crt
cert server.crt
key server.key  # This file should be kept secret
dh dh2048.pem
server {{ openvpn_network }}
push "route {{ openvpn_route }}"
push "route {{ vlan_broadcast }} {{ vlan_netmask }}"
#crl-verify crl.pem
{% if push_gateway %}
#push "redirect-gateway def1"
{% endif %}
ifconfig-pool-persist ipp.txt
keepalive 10 120
comp-lzo
persist-key
persist-tun
status openvpn-status.log
verb 6