server {
	listen {{ listen_port }};
	server_name {{ domain_name }};
	access_log /var/log/nginx/access.{{ domain_name }}.log;
	location / {
		proxy_pass http://{{ proxy_address }}/;
		include /etc/openresty/proxy_params;
	}
}
