iptables_hash= "{{ iptables_hash_meta }}"
loadbalancer_hash="{{ loadbalancer_hash_meta }}"
ovpnsrv_hash="{{ ovpnsrv_hash_meta }}"
network_hash="{{ network_hash_meta }}"
proxysrv_hash="{{ proxysrv_hash_meta }}"
ntpsrv_hash="{{ ntp_hash_meta }}"
rsyslog_hash="{{ rsyslog_hash_meta }}"